<h1 class="text-center mt-3">Welcome to admin dashboard!</h1>
<div class="d-flex align-items-center justify-content-center">
    <mat-card class="example-card mr-5" [routerLink]="['../resolve']">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                This page allow you to resolve a pending user request.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color='primary'>Go to resolve page</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" [routerLink]="['../create-location']">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                This page allow you to maintain a record of locations, buildings, rooms Revature has the ability to
                train from.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color='primary'>Go to add location page</button>
        </mat-card-actions>
    </mat-card>
</div>
<router-outlet></router-outlet>