<mat-toolbar>
  <span class="copyright"><a href="https://revature.com/" target="_blank">© 2021 Revature, LLC.</a></span>
  <span class="spacer"></span>
  <span class="powered-by"><a href="https://github.com/Batch-944-Adam-Ranieri" target="_blank">
      powered by <span class="font-montserrat font-weight-bold">Adam's Best Batch</span></a>
  </span>
  <span class="spacer"></span>
  <span class="social-media d-flex justify-content-between">
    <a href="https://www.facebook.com/revature/" target="_blank">
      <i class="bi bi-facebook"></i>
    </a>
    <a href="https://twitter.com/WeAreRevature" target="_blank">
      <i class="bi bi-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/company/revature" target="_blank">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCGBKIv2WIS2utCQwJFqYFAg/videos" target="_blank">
      <i class="bi bi-youtube"></i>
    </a>
  </span>
</mat-toolbar>
