<mat-card class="example-card">
    <mat-card-header >
        <mat-card-title>{{currentReservation?.reserver}}</mat-card-title>
        <mat-card-subtitle>{{currentReservation?.roomId}} </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/admin2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>Start time: {{currentReservation?.startTime}}</p>
        <p>End time: {{currentReservation?.endTime}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color='primary' (click)="previousReservation()">Prev</button>
        <button mat-button color='primary' (click)="nextReservation()">Next</button>
        <button mat-raised-button color='warn' (click)="deleteReservation()">Delete current reservation</button>
    </mat-card-actions>
</mat-card>