<p>reservation-detail works!</p>
<div *ngIf="reservation">
<div >
    
    <h2>Reservation: {{reservation.reservationId}} Details</h2>
  <div>
    <label for="reservation-buildingId">reservation buildingId: </label>
    <input id="reservation-city" [(ngModel)]="reservation.buildingId" placeholder="buildingId"/>
  </div>
  <div>
    <label for="reservation-roomType">reservation roomType: </label>
    <input id="reservation-roomType" [(ngModel)]="reservation.roomType" placeholder="roomType"/>
  </div>
  <div>
    <label for="reservation-roomId">reservation roomId: </label>
    <input id="reservation-roomId" [(ngModel)]="reservation.roomId" placeholder="roomId"/>
  </div>
  <div>
    <label for="reservation-reserver">reservation reserver: </label>
    <input id="reservation-reserver" [(ngModel)]="reservation.reserver" placeholder="reserver"/>
  </div>
  <div>
    <label for="reservation-startDate">reservation startDate: </label>
    <input id="reservation-startDate" [(ngModel)]="reservation.startDate" placeholder="startDate"/>
  </div>
  <div>
    <label for="reservation-endDate">reservation endDate: </label>
    <input id="reservation-endDate" [(ngModel)]="reservation.endDate" placeholder="endDate"/>
  </div>
</div>
 <button (click)="update()">SAVE</button>
  <button (click)="delete()">DELETE</button> 
</div>