<div class="container h-100 p-4">
  
  <h1 class="text-center">My Reservations</h1>
  
  <div class="d-flex align-items-center mt-4">
    <mat-form-field class="w-100 mr-3">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Boston" #input>
    </mat-form-field>
  </div>
  
  <div class="mat-elevation-z8">
    <table class="table-hover" mat-table [dataSource]="dataSource" matSort matSortActive="title"
      matSortDirection="asc">
      
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let row">{{row.title}}</td>
      </ng-container>
      
      <!-- Start Time Column -->
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
        <td mat-cell *matCellDef="let row">{{row.startTime * 1000 | date: 'medium'}}</td>
      </ng-container>
      
      <!-- End Time Column -->
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Time</th>
        <td mat-cell *matCellDef="let row">{{row.endTime * 1000 | date: 'medium'}}</td>
      </ng-container>
      
      <!-- Room ID Column -->
      <ng-container matColumnDef="roomId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Room ID</th>
        <td mat-cell *matCellDef="let row">{{row.roomId}}</td>
      </ng-container>
      
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">{{row.status}}</td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data found</td>
      </tr>
      
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    
  </div>
  <!-- End div class="mat-elevation-z8" -->
  
</div>
