.reservation {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 65em;
  }
  .reservation li {
    position: relative;
    cursor: pointer;
  }
  
  .reservation li:hover {
    left: .1em;
  }
  
  .reservation a {
    color: #333;
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    display: block;
    width: 100%;
  }
  
  .reservation a:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
  }
  
  .reservation a:active {
    background-color: #525252;
    color: #fafafa;
  }

  .reservation .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .reservation span {
    margin-left: 20px;
  }

  .reservation select {
    width: 150px;
  }

  /* .reservation #addForm {
    background-color: #cecaca;
  } */
  label {
    color: #020202;
    font-weight: bold;
    display: block;
    width: 100px;
    float: left;
    text-align: left;
    }
  
