<div id="landingPage" fxLayout='column' fxLayoutAlign="center center">
  <section>
    <div class="title pb-2">
      <h3>Welcome to AssignForce</h3>
      <aside>Space Management Platform</aside> 
    </div>
  </section>
  <section>
    <div class="title">
      <h3>About</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, possimus! Voluptatem, sint cumque maiores quis
        tenetur nam minima sapiente aliquid. Aspernatur porro nesciunt eius minus, rerum, officiis sunt labore neque hic
        reiciendis itaque sint aut? Magnam facere rem consequuntur necessitatibus amet mollitia dicta recusandae illo
        minima nostrum deleniti exercitationem dolores sunt voluptatum itaque adipisci, quibusdam qui, magni sint!
        Commodi, molestiae corrupti eum harum ad mollitia cum sit quos facere officia qui perferendis labore doloribus,
        modi dolor sapiente. Officiis consequuntur perferendis sint dolor debitis a amet laborum! Placeat ut facere a
        dolorem! Fugit nemo facilis maxime odio quis odit quas fugiat?</p>
    </div>
  </section>
</div>
