<div id="landingPage" fxLayout='column' fxLayoutAlign="center center" fxLayoutGap="1vh">
  <section id="landingWelcome" fxLayout='column' fxLayoutAlign="center center">
    <div fxLayout fxLayoutAlign="center">
      <h2>Welcome to AssignForce</h2>
      <google-map-rev></google-map-rev>
    </div>
  </section>
  <section id="landingAbout" fxLayout fxLayoutAlign="center">
    <div>
      <h3>About</h3>
      <p>
        AssignForce is a space management application inspired by the current business need to track virtual rooms 
        and the future need for physical room reservations. Whether you need to schedule a room for a 15 minute 
        meeting or need to reserve a room for a specific cohort - AssignForce has you covered.
      </p>
      <p>
        Trainers, in addition to registering for an account, can create, view, and edit their reservations. 
        Admins gain additional permissions to manage available spaces on the Admin Dashboard, 
        and resolve all trainer account registration requests for the application.
      </p>
    </div>
  </section>
</div>
