<h3 *ngIf="locationData" class="text-muted">Current location: {{ locationData }}</h3>
<div class="d-flex align-items-center mt-4">
    <mat-form-field class="w-100 mr-3">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="building" #input>
    </mat-form-field>
    <button class="w-100" color="primary" mat-raised-button (click)="addBuilding()">Add new building</button>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="table-hover"  matSortActive="name" matSortDirection="asc">

        <!-- ID Column -->
        <ng-container matColumnDef="buildingId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Building ID </th>
            <td mat-cell *matCellDef="let row"  > {{row.buildingId}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
            <td mat-cell *matCellDef="let row"> {{row.address}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="roomCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Room count </th>
            <td mat-cell *matCellDef="let row"> {{row.roomCount}} </td>
        </ng-container>


        <!-- Color Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-button (click)="editBuilding(row)" color="primary">edit</button> 
                <button mat-button color='accent' (click)="deleteBuilding(row)">delete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="chooseBuilding(row)"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<button mat-button color='accent' *ngIf="selectedBuilding?.buildingId" class="w-100 mt-3">
    <h2><b>Current selected Building: {{selectedBuilding?.buildingId}}</b> </h2>
</button>